* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 1em;
    margin: 10px 0 20px 0;
    color: white;
}

h2 {
    font-size: 1em;
    color: #261624;
}

h3 {
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}

h4 {
    font-size: 1em;
    color: #261624;
    margin: 0;
}

p {
    font-size: 1em;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: #F3E9F1;
    padding-left: 20px;
}

nav {
    margin-right: 50px;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    padding: 10px;
    list-style: none;
}

li :hover {
    border-bottom: 2px solid cadetblue;
}

body {
    margin: 0;
    background-color: #261624;
}

footer {
    margin: 0;
    background-color: #F3E9F1;
    height: 50px;
}

.produits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

header img {
    height: 100px;
    width: auto;
}


.produits img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.container {
    text-align: center;
    max-width: 300px;
    min-width: 200px;
    padding: 20px;
    margin: 10px;
    background-color: cadetblue;
    border-radius: 20px 0 20px 0;
}

.box01 {
    background-color: crimson;
}

.box02 {
    background-color: rgb(20, 163, 220);
}

.box03 {
    background-color: rgb(220, 190, 20);
}

#container_item {
    background-color: #F3E9F1;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

#container_item h1 {
    color: #261624;
}

#container_item:hover {
    box-shadow: 1px 2px 2px white;
    opacity: 80%;
}

#container_produits {
    height: 300px;
    width: 500px;
    background-color: burlywood;
}

#container_produits img {
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3E9F1;
    height: 200px;
}

footer img {
    width: 150px;
    height: auto;
}

footer li {
    font-size: 0.8em;
}

#message_erreur {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 16, 16);
    border: 2px solid white;
    height: 50px;
}

#container_produit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

#options {
    background-color:#F3E9F1;
    border-radius: 20px;
    padding: 20px;
    width: 200px;
    margin: 20px 0 20px 0;
}

#container_single_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 20px;
    background-color:#F3E9F1;
    padding: 20px;
    border-radius: 20px;
}

#container_single_item h1 {
    color: black;
}

#container_single_item img {
    width: 300px;
    border-radius: 20px;
    height: auto;
}

#container_panier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#container_panier h1 {
    text-align: center;
}

.data_panier {
    display: flex;
    flex-direction: column;
    background-color:#F3E9F1;
    width: 60%;
    padding: 20px;
}

#container_total_panier {
    display: flex;
    flex-flow: row;
    justify-self: center;
    align-self: center;
    background-color: cadetblue;
    border-radius: 20px;
}

#panier_vide {
    background-color: rgb(241, 125, 83);
    padding: 20px;
}

#panier_table {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 5px;
    border: 2px solid white;
    
}

.item_table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 5px;;
}

#nom_produit{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#prix_produit{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
/*Page Panier */

#container_options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 20px;
    background-color:#F3E9F1;
    padding: 20px;
    border-radius: 20px;
}

/* Formulaire */

#btn_ajouter {
    color: white;
    background-color: #261624;
    border: 2px solid white;
    height: 50px;
    width: 100%;
    border-radius: 10px;
}

#btn_ajouter:hover {
    background-color: #583654;
    cursor: pointer;
    box-shadow: 2px 2px 6px #261624;
}

#tableau_options {
    width: 120px;
}

.text_souligne {
    font-weight: bold;
    color: royalblue;
}

.btn_supprimer {
    background-color: #261624;
    color: white;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 1px 1px 6px #261624;
}

.btn_supprimer:hover {
    background-color: #583654;
    box-shadow: 2px 2px 6px #261624;
    cursor: pointer;
}

#container_btn_supprimer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#btn_vider_panier {
    background-color: royalblue;
    color: white;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 1px 1px 6px royalblue;
    width: 200px;
}

#btn_vider_panier:hover {
    background-color: rgb(147, 164, 214);
    box-shadow: 2px 2px 6px royalblue;
    cursor: pointer;
}


#btn_confirmer_commande {
    background-color: #3AD04F;
    color: white;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 1px 1px 6px #3AD04F;
    width: 300px;
}

#btn_confirmer_commande:hover {
    background-color: #A7E7B0;
    box-shadow: 3px 3px 6px #A7E7B0;
    cursor: pointer;
}

#voir_panier {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: royalblue;
    box-shadow: 1px 1px 6px royalblue;
    color: white;
    border: 1px solid rgb(154, 166, 202);
    border-radius: 5px;
    padding: 5px;
}

#voir_panier:hover {
    background-color: rgb(114, 144, 235);
}


#btn_envoyer_commande {
    background-color: #3AD04F;
    color: white;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 1px 1px 6px #3AD04F;
}

#btn_envoyer_commande:hover {
    background-color: #A7E7B0;
    cursor: pointer;
    box-shadow: 3px 3px 6px #A7E7B0;
}

#btn_envoyer_commande:disabled {
    background-color: rgb(218, 220, 226);
    color: rgb(179, 180, 184);
    cursor: none;
    box-shadow: none;
}

.nombre_total_articles {
    font-weight: bold;
    color: royalblue;
}

#commande_table {
    display: flex;
    flex-direction: row;
}

/* Formulaire */
#info_validation {
    font-size: 0.8em;
    color: crimson;
    text-align: center;
}

.texte_validation {
    font-size: 0.7em;
    text-align: right;
    margin: 0;
    color: crimson;
}

.champ_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding: 5px;
}

.input_form {
    margin-left: 5px;
    width: 70%;
    height: 30px;
    border: 1px solid #C2C8C2;
    border-radius: 10px;
}

.asterisque_form {
    font-size: 1em;
    color: crimson;
}

#adresse {
    height: 50px;
}

#formulaire_commande {
    background-color:#F3E9F1;
    padding: 20px;
}

#form_donnees_commande {
    display: flex;
    flex-direction: column;
    background-color: #cfcccf;
    padding: 20px;
}


#total_prix_panier {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

#container_confirmation_commande {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#message_confirmation {
    background-color: #C2C8C2;
    width: 60%;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}


@media only screen and (max-width: 1024px) {
    .produits {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        max-width:80%;
        min-width: 200px;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        background-color: #F3E9F1;
        padding-left: 20px;
    }
}